blueprints/standard/Shipping 2.0 - Rate Request Trigger.blueprint.json
{
    "name": "Shipping 2.0 - Rate Request Trigger",
    "flow": [
        {
            "id": 1,
            "module": "monday:watchBoardColumnValues",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1975560
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 1200,
                    "name": "Rate Request Triggered"
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Request Shipping Rate Trigger"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:monday3",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "monday:GetItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 44706
            },
            "mapper": {
                "id": "{{1.pulseId}}",
                "boardId": "",
                "showSubitems": true,
                "showParentItem": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 1200,
                    "name": "Specs Grabbed"
                },
                "restore": {
                    "expect": {
                        "boardId": {
                            "label": "Empty"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Dad's Printing"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID",
                        "required": true
                    },
                    {
                        "name": "showParentItem",
                        "type": "boolean",
                        "label": "Show Parent Item",
                        "required": true
                    },
                    {
                        "name": "showSubitems",
                        "type": "boolean",
                        "label": "Show Subitems",
                        "required": true
                    },
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "ID"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "updated_at",
                        "type": "date",
                        "label": "Updated at"
                    },
                    {
                        "name": "state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "board",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Board"
                    },
                    {
                        "name": "creator_id",
                        "type": "uinteger",
                        "label": "Creator ID"
                    },
                    {
                        "name": "group",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "deleted",
                                "type": "boolean",
                                "label": "Deleted"
                            },
                            {
                                "name": "archived",
                                "type": "boolean",
                                "label": "Archived"
                            }
                        ],
                        "type": "collection",
                        "label": "Group"
                    },
                    {
                        "name": "column_values",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            },
                            {
                                "name": "additional_info",
                                "type": "text",
                                "label": "Additional Info"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            }
                        ],
                        "type": "array",
                        "label": "Column Values"
                    },
                    {
                        "name": "mappable_column_values",
                        "spec": [],
                        "type": "collection",
                        "label": "Mappable column values"
                    },
                    {
                        "name": "assets",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "public_url",
                                "type": "url",
                                "label": "Public URL"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "file_extension",
                                "type": "text",
                                "label": "File Extension"
                            }
                        ],
                        "type": "array",
                        "label": "Assets"
                    },
                    {
                        "name": "parent_item",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent Item"
                    },
                    {
                        "name": "subitems",
                        "spec": [
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "created_at",
                                "type": "date",
                                "label": "Created at"
                            },
                            {
                                "name": "updated_at",
                                "type": "date",
                                "label": "Updated at"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "board",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "uinteger",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Board"
                            },
                            {
                                "name": "creator_id",
                                "type": "uinteger",
                                "label": "Creator ID"
                            },
                            {
                                "name": "group",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    }
                                ],
                                "type": "collection",
                                "label": "Group"
                            },
                            {
                                "name": "column_values",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "additional_info",
                                        "type": "text",
                                        "label": "Additional Info"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Column Values"
                            },
                            {
                                "name": "mappable_column_values",
                                "spec": [],
                                "type": "collection",
                                "label": "Mappable column values"
                            }
                        ],
                        "type": "array",
                        "label": "Subitems"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 29,
                    "module": "google-email:ActionSendEmail",
                    "version": 2,
                    "parameters": {
                        "account": 1872160
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "janreydohinog@gmail.com"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{2.error.type}}\n<br/>\n<b>Error Message: </b>\n{{2.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{2.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                        "subject": "[Error] {{var.scenario.name}}",
                        "attachments": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 2400
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:google-restricted",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            }
                        ]
                    }
                },
                {
                    "id": 30,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "retry": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 900,
                            "y": 2400
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 46,
            "module": "monday:ChangeMultipleColumnValues",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 44706
            },
            "mapper": {
                "itemId": "{{2.id}}",
                "boardId": "8097949101",
                "columnValuesToChange": [
                    {
                        "columnId": "text63",
                        "columnValue": "CA"
                    }
                ],
                "create_labels_if_missing": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 1050,
                    "name": "Reformat Canada"
                },
                "restore": {
                    "expect": {
                        "itemId": {
                            "mode": "edit"
                        },
                        "boardId": {
                            "mode": "chose",
                            "label": "Shipment Board  ::  public"
                        },
                        "columnValuesToChange": {
                            "mode": "chose",
                            "items": [
                                {
                                    "columnId": {
                                        "mode": "chose",
                                        "label": "Country"
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "monday"
                            },
                            "label": "Dad's Printing"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:monday",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "boardId",
                        "type": "select",
                        "label": "Board ID",
                        "required": true
                    },
                    {
                        "name": "create_labels_if_missing",
                        "type": "boolean",
                        "label": "Create Labels if Missing",
                        "required": true
                    },
                    {
                        "name": "itemId",
                        "type": "select",
                        "label": "Item ID",
                        "required": true
                    },
                    {
                        "name": "columnValuesToChange",
                        "spec": [
                            {
                                "name": "columnId",
                                "type": "select",
                                "label": "Column ID",
                                "dynamic": true,
                                "options": {
                                    "store": []
                                },
                                "required": true,
                                "validate": false
                            }
                        ],
                        "type": "array",
                        "label": "Column Values to Change",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{2.subitems}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 1050
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "json:AggregateToJSON",
            "version": 1,
            "parameters": {
                "type": 196658,
                "space": "",
                "feeder": 16
            },
            "mapper": {
                "width": "{{16.mappable_column_values.numbers_mkkeeppg}}",
                "height": "{{16.mappable_column_values.numbers_mkke2140}}",
                "length": "{{16.mappable_column_values.numbers_mkkep31m}}",
                "weight": "{{16.mappable_column_values.numbers_mkkeb4dq}}",
                "weightUnit": "lbs"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 1050
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [16]"
                        }
                    },
                    "parameters": {
                        "type": {
                            "label": "Packaging Data"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "length",
                        "type": "number",
                        "label": "Length"
                    },
                    {
                        "name": "width",
                        "type": "number",
                        "label": "Width"
                    },
                    {
                        "name": "height",
                        "type": "number",
                        "label": "Height"
                    },
                    {
                        "name": "weight",
                        "type": "number",
                        "label": "Weight"
                    },
                    {
                        "name": "weightUnit",
                        "type": "text",
                        "label": "Weight Unit"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 31,
                    "module": "google-email:ActionSendEmail",
                    "version": 2,
                    "parameters": {
                        "account": 1872160
                    },
                    "mapper": {
                        "cc": [],
                        "to": [
                            "janreydohinog@gmail.com"
                        ],
                        "bcc": [],
                        "from": "",
                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{15.error.type}}\n<br/>\n<b>Error Message: </b>\n{{15.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{emptystring}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                        "subject": "[Error] {{var.scenario.name}}",
                        "attachments": []
                    },
                    "metadata": {
                        "designer": {
                            "x": 1500,
                            "y": 2100
                        },
                        "restore": {
                            "expect": {
                                "cc": {
                                    "mode": "chose"
                                },
                                "to": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "bcc": {
                                    "mode": "chose"
                                },
                                "attachments": {
                                    "mode": "chose"
                                }
                            },
                            "parameters": {
                                "account": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "google-restricted"
                                    },
                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "account",
                                "type": "account:google-restricted",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "from",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address",
                                    "required": true
                                },
                                "type": "array",
                                "label": "To",
                                "required": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "html",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "fileName",
                                        "type": "filename",
                                        "label": "File name",
                                        "required": true,
                                        "semantic": "file:name"
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    },
                                    {
                                        "name": "cid",
                                        "type": "text",
                                        "label": "Content-ID"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "cc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Copy recipient"
                            },
                            {
                                "name": "bcc",
                                "spec": {
                                    "name": "value",
                                    "type": "email",
                                    "label": "Email address"
                                },
                                "type": "array",
                                "label": "Blind copy recipient"
                            }
                        ]
                    }
                },
                {
                    "id": 32,
                    "module": "builtin:Break",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "retry": false
                    },
                    "metadata": {
                        "designer": {
                            "x": 1800,
                            "y": 2100
                        },
                        "restore": {
                            "expect": {
                                "retry": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "expect": [
                            {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 17,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 900
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://api.netparcel.com/shipping_service",
                                "data": "{\n  \"rate\": {\n    \"origin\": {\n      \"country\": \"CA\",\n      \"postal_code\": \"V6B1H6\",\n      \"province\": \"BC\",\n      \"city\": \"Vancouver\",\n      \"address1\": \"319 West Hastings Street\",\n      \"address2\": \"Unit B1 Basement Alley\",\n      \"phone\": \"604-831-1353\"\n    },\n    \"destination\": {\n      \"country\": \"CA\",\n      \"postal_code\": \"{{2.mappable_column_values.text71}}\",\n      \"province\": \"{{2.mappable_column_values.text76}}\",\n      \"city\": \"{{2.mappable_column_values.text60}}\",\n      \"name\": \"{{2.mappable_column_values.text65}}\",\n      \"address1\": \"{{2.mappable_column_values.text4}}\",\n      \"phone\": \"{{2.mappable_column_values.text03}}\"\n    },\n    \"items\": [],\n    \"packaging_information\": {\n      \"packaging_type\": \"My Packaging\",\n      \"packages\": {{15.json}}\n    },\n    \"ship_date\": \"{{formatDate(now; \"YYYY-MM-DD\")}}\"\n  }\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "API_USERNAME",
                                        "value": "Dadsprinting"
                                    },
                                    {
                                        "name": "API_PASSWORD",
                                        "value": "6nuahcfrh5dx"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 750
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 33,
                                    "module": "google-email:ActionSendEmail",
                                    "version": 2,
                                    "parameters": {
                                        "account": 1872160
                                    },
                                    "mapper": {
                                        "cc": [],
                                        "to": [
                                            "janreydohinog@gmail.com"
                                        ],
                                        "bcc": [],
                                        "from": "",
                                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{3.error.type}}\n<br/>\n<b>Error Message: </b>\n{{3.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{3.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                                        "subject": "[Error] {{var.scenario.name}}",
                                        "attachments": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2100,
                                            "y": 1500
                                        },
                                        "restore": {
                                            "expect": {
                                                "cc": {
                                                    "mode": "chose"
                                                },
                                                "to": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "bcc": {
                                                    "mode": "chose"
                                                },
                                                "attachments": {
                                                    "mode": "chose"
                                                }
                                            },
                                            "parameters": {
                                                "account": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "google-restricted"
                                                    },
                                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "account",
                                                "type": "account:google-restricted",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "from",
                                                "type": "text",
                                                "label": "From"
                                            },
                                            {
                                                "name": "to",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address",
                                                    "required": true
                                                },
                                                "type": "array",
                                                "label": "To",
                                                "required": true
                                            },
                                            {
                                                "name": "subject",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "html",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "attachments",
                                                "spec": [
                                                    {
                                                        "name": "fileName",
                                                        "type": "filename",
                                                        "label": "File name",
                                                        "required": true,
                                                        "semantic": "file:name"
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true,
                                                        "semantic": "file:data"
                                                    },
                                                    {
                                                        "name": "cid",
                                                        "type": "text",
                                                        "label": "Content-ID"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            },
                                            {
                                                "name": "cc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Copy recipient"
                                            },
                                            {
                                                "name": "bcc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Blind copy recipient"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 34,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": false
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2400,
                                            "y": 1500
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 4,
                            "module": "google-sheets:createASpreadsheetFromATemplate",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3804318
                            },
                            "mapper": {
                                "from": "drive",
                                "name": "{{2.mappable_column_values.text82}}",
                                "select": "list",
                                "values": {
                                    "0": {
                                        "total_cost": "{{3.data.rates[].total_price}}",
                                        "service_code": "{{3.data.rates[].service_code}}",
                                        "service_name": "{{3.data.rates[].service_name}}",
                                        "delivery_days": "{{3.data.rates[].transit_days}}",
                                        "earliest_delivery": "{{3.data.rates[].min_delivery_date}}"
                                    }
                                },
                                "folderId": "/17z15mkVXTSVwPNX97vbkn1VKgYHNtj4_",
                                "destination": "drive",
                                "spreadsheetId": "/1TioE4uiKUDVx6EGcaXM55vJfG6U-wWV5hAHLFfZEn2s"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "Shipping Estimates"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Shipping Template"
                                            ],
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "spec": [
                                                                {
                                                                    "name": "service_name",
                                                                    "type": "text",
                                                                    "label": "service_name"
                                                                },
                                                                {
                                                                    "name": "delivery_days",
                                                                    "type": "text",
                                                                    "label": "delivery_days"
                                                                },
                                                                {
                                                                    "name": "earliest_delivery",
                                                                    "type": "text",
                                                                    "label": "earliest_delivery"
                                                                },
                                                                {
                                                                    "name": "total_cost",
                                                                    "type": "text",
                                                                    "label": "total_cost"
                                                                },
                                                                {
                                                                    "name": "service_code",
                                                                    "type": "text",
                                                                    "label": "service_code"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Sheet1"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (info@dadsprinting.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Template Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "spec": [
                                                    {
                                                        "name": "service_name",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "delivery_days",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "earliest_delivery",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "total_cost",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "service_code",
                                                        "type": "text"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Sheet1"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 35,
                                    "module": "google-email:ActionSendEmail",
                                    "version": 2,
                                    "parameters": {
                                        "account": 1872160
                                    },
                                    "mapper": {
                                        "cc": [],
                                        "to": [
                                            "janreydohinog@gmail.com"
                                        ],
                                        "bcc": [],
                                        "from": "",
                                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{4.error.type}}\n<br/>\n<b>Error Message: </b>\n{{4.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{4.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                                        "subject": "[Error] {{var.scenario.name}}",
                                        "attachments": []
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2400,
                                            "y": 1200
                                        },
                                        "restore": {
                                            "expect": {
                                                "cc": {
                                                    "mode": "chose"
                                                },
                                                "to": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "bcc": {
                                                    "mode": "chose"
                                                },
                                                "attachments": {
                                                    "mode": "chose"
                                                }
                                            },
                                            "parameters": {
                                                "account": {
                                                    "data": {
                                                        "scoped": "true",
                                                        "connection": "google-restricted"
                                                    },
                                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                                }
                                            }
                                        },
                                        "parameters": [
                                            {
                                                "name": "account",
                                                "type": "account:google-restricted",
                                                "label": "Connection",
                                                "required": true
                                            }
                                        ],
                                        "expect": [
                                            {
                                                "name": "from",
                                                "type": "text",
                                                "label": "From"
                                            },
                                            {
                                                "name": "to",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address",
                                                    "required": true
                                                },
                                                "type": "array",
                                                "label": "To",
                                                "required": true
                                            },
                                            {
                                                "name": "subject",
                                                "type": "text",
                                                "label": "Subject"
                                            },
                                            {
                                                "name": "html",
                                                "type": "text",
                                                "label": "Content"
                                            },
                                            {
                                                "name": "attachments",
                                                "spec": [
                                                    {
                                                        "name": "fileName",
                                                        "type": "filename",
                                                        "label": "File name",
                                                        "required": true,
                                                        "semantic": "file:name"
                                                    },
                                                    {
                                                        "name": "data",
                                                        "type": "buffer",
                                                        "label": "Data",
                                                        "required": true,
                                                        "semantic": "file:data"
                                                    },
                                                    {
                                                        "name": "cid",
                                                        "type": "text",
                                                        "label": "Content-ID"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            },
                                            {
                                                "name": "cc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Copy recipient"
                                            },
                                            {
                                                "name": "bcc",
                                                "spec": {
                                                    "name": "value",
                                                    "type": "email",
                                                    "label": "Email address"
                                                },
                                                "type": "array",
                                                "label": "Blind copy recipient"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "id": 36,
                                    "module": "builtin:Break",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {
                                        "retry": false
                                    },
                                    "metadata": {
                                        "designer": {
                                            "x": 2700,
                                            "y": 1200
                                        },
                                        "restore": {
                                            "expect": {
                                                "retry": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "expect": [
                                            {
                                                "name": "retry",
                                                "type": "boolean",
                                                "label": "Automatically complete execution",
                                                "required": true
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        {
                            "id": 45,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 450
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 44706
                                            },
                                            "mapper": {
                                                "itemId": "{{1.pulseId}}",
                                                "boardId": "8097949101",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "link_mkkkcj3q",
                                                        "columnValue": {
                                                            "url": "{{4.webViewLink}}",
                                                            "text": "{{4.webViewLink}}"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Duplicate of Shipment Board  ::  public"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Sheet Link"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "Dad's Printing"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 39,
                                                    "module": "google-email:ActionSendEmail",
                                                    "version": 2,
                                                    "parameters": {
                                                        "account": 1872160
                                                    },
                                                    "mapper": {
                                                        "cc": [],
                                                        "to": [
                                                            "janreydohinog@gmail.com"
                                                        ],
                                                        "bcc": [],
                                                        "from": "",
                                                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{8.error.type}}\n<br/>\n<b>Error Message: </b>\n{{8.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{8.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                                                        "subject": "[Error] {{var.scenario.name}}",
                                                        "attachments": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3000,
                                                            "y": 600
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "cc": {
                                                                    "mode": "chose"
                                                                },
                                                                "to": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                },
                                                                "bcc": {
                                                                    "mode": "chose"
                                                                },
                                                                "attachments": {
                                                                    "mode": "chose"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "account": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "google-restricted"
                                                                    },
                                                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "account",
                                                                "type": "account:google-restricted",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "from",
                                                                "type": "text",
                                                                "label": "From"
                                                            },
                                                            {
                                                                "name": "to",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address",
                                                                    "required": true
                                                                },
                                                                "type": "array",
                                                                "label": "To",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "subject",
                                                                "type": "text",
                                                                "label": "Subject"
                                                            },
                                                            {
                                                                "name": "html",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "attachments",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "filename",
                                                                        "label": "File name",
                                                                        "required": true,
                                                                        "semantic": "file:name"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Data",
                                                                        "required": true,
                                                                        "semantic": "file:data"
                                                                    },
                                                                    {
                                                                        "name": "cid",
                                                                        "type": "text",
                                                                        "label": "Content-ID"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Attachments"
                                                            },
                                                            {
                                                                "name": "cc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Copy recipient"
                                                            },
                                                            {
                                                                "name": "bcc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Blind copy recipient"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 40,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "retry": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3300,
                                                            "y": 600
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 6,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{3.data.rates}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 150
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 7,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 3804318
                                            },
                                            "mapper": {
                                                "mode": "map",
                                                "values": {
                                                    "0": "{{6.service_name}}",
                                                    "1": "{{6.transit_days}}",
                                                    "2": "{{6.min_delivery_date}}",
                                                    "3": "{{6.total_price}}",
                                                    "4": "{{6.service_code}}"
                                                },
                                                "sheetId": "Sheet1",
                                                "spreadsheetId": "{{4.id}}",
                                                "tableFirstRow": "A1:Z1",
                                                "insertDataOption": "INSERT_ROWS",
                                                "valueInputOption": "USER_ENTERED",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 150
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "mode": {
                                                            "label": "Enter manually"
                                                        },
                                                        "tableFirstRow": {
                                                            "label": "A-Z",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "A"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "B"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "C"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "D"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "E"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "F"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "G"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "H"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "I"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "J"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "K"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "L"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "M"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "N"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "O"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "P"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "Q"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "R"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "S"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "T"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "U"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "V"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "W"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "X"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "Y"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "Z"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values"
                                                                }
                                                            ]
                                                        },
                                                        "insertDataOption": {
                                                            "mode": "chose",
                                                            "label": "Insert rows"
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        },
                                                        "insertUnformatted": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "My Google connection (info@dadsprinting.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertUnformatted",
                                                        "type": "boolean",
                                                        "label": "Unformatted",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertDataOption",
                                                        "type": "select",
                                                        "label": "Insert data option",
                                                        "validate": {
                                                            "enum": [
                                                                "INSERT_ROWS",
                                                                "OVERWRITE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "text",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "text",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "tableFirstRow",
                                                        "type": "select",
                                                        "label": "Column range",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "A1:Z1",
                                                                "A1:BZ1",
                                                                "A1:CZ1",
                                                                "A1:DZ1",
                                                                "A1:MZ1",
                                                                "A1:ZZ1"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "A"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "B"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "C"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "D"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "E"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "F"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "G"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "H"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "I"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "J"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "K"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "L"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "M"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "N"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "O"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "P"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "Q"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "R"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "S"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "T"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "U"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "V"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "W"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "X"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "Y"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "Z"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 41,
                                                    "module": "google-email:ActionSendEmail",
                                                    "version": 2,
                                                    "parameters": {
                                                        "account": 1872160
                                                    },
                                                    "mapper": {
                                                        "cc": [],
                                                        "to": [
                                                            "janreydohinog@gmail.com"
                                                        ],
                                                        "bcc": [],
                                                        "from": "",
                                                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{7.error.type}}\n<br/>\n<b>Error Message: </b>\n{{7.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{7.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                                                        "subject": "[Error] {{var.scenario.name}}",
                                                        "attachments": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3600,
                                                            "y": 300
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "cc": {
                                                                    "mode": "chose"
                                                                },
                                                                "to": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                },
                                                                "bcc": {
                                                                    "mode": "chose"
                                                                },
                                                                "attachments": {
                                                                    "mode": "chose"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "account": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "google-restricted"
                                                                    },
                                                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "account",
                                                                "type": "account:google-restricted",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "from",
                                                                "type": "text",
                                                                "label": "From"
                                                            },
                                                            {
                                                                "name": "to",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address",
                                                                    "required": true
                                                                },
                                                                "type": "array",
                                                                "label": "To",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "subject",
                                                                "type": "text",
                                                                "label": "Subject"
                                                            },
                                                            {
                                                                "name": "html",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "attachments",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "filename",
                                                                        "label": "File name",
                                                                        "required": true,
                                                                        "semantic": "file:name"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Data",
                                                                        "required": true,
                                                                        "semantic": "file:data"
                                                                    },
                                                                    {
                                                                        "name": "cid",
                                                                        "type": "text",
                                                                        "label": "Content-ID"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Attachments"
                                                            },
                                                            {
                                                                "name": "cc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Copy recipient"
                                                            },
                                                            {
                                                                "name": "bcc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Blind copy recipient"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 42,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "retry": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3900,
                                                            "y": 300
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 44,
                                            "module": "monday:ChangeMultipleColumnValues",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 44706
                                            },
                                            "mapper": {
                                                "itemId": "{{8.id}}",
                                                "boardId": "8097949101",
                                                "columnValuesToChange": [
                                                    {
                                                        "columnId": "status4",
                                                        "columnValue": {
                                                            "label": "Quotes Provided",
                                                            "settings": "{\"done_colors\":[1],\"color_mapping\":{\"0\":15,\"1\":1,\"2\":3,\"3\":151,\"6\":6,\"15\":0,\"16\":2,\"103\":16,\"151\":103},\"deactivated_labels\":[],\"labels\":{\"1\":\"Quotes Provided\",\"2\":\"Ready For Quotes\",\"5\":\"Details Needed\"},\"labels_positions_v2\":{\"1\":0,\"2\":1,\"5\":2},\"labels_colors\":{\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"2\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#b0b0b0\",\"var_name\":\"grey\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    },
                                                    {
                                                        "columnId": "status_mkke5yfg",
                                                        "columnValue": {
                                                            "label": "Awaiting Review",
                                                            "settings": "{\"done_colors\":[1],\"deactivated_labels\":[],\"color_mapping\":{\"0\":101,\"2\":104,\"4\":6,\"6\":4,\"12\":0,\"101\":108,\"104\":2,\"108\":12},\"labels\":{\"0\":\"Awaiting Review\",\"1\":\"Done\",\"3\":\"Booking\",\"4\":\"Book Label\",\"5\":\"Awaiting Specs\"},\"labels_positions_v2\":{\"0\":3,\"1\":0,\"3\":2,\"4\":4,\"5\":1},\"labels_colors\":{\"0\":{\"color\":\"#ff7575\",\"border\":\"#ff7575\",\"var_name\":\"sunset\"},\"1\":{\"color\":\"#00c875\",\"border\":\"#00b461\",\"var_name\":\"green-shadow\"},\"3\":{\"color\":\"#007eb5\",\"border\":\"#3db0df\",\"var_name\":\"blue-links\"},\"4\":{\"color\":\"#037f4c\",\"border\":\"#006b38\",\"var_name\":\"grass-green\"},\"5\":{\"color\":\"#c4c4c4\",\"border\":\"#b0b0b0\",\"var_name\":\"grey\"}}}",
                                                            "selectType": "label2index"
                                                        }
                                                    }
                                                ],
                                                "create_labels_if_missing": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3600,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "itemId": {
                                                            "mode": "edit"
                                                        },
                                                        "boardId": {
                                                            "mode": "chose",
                                                            "label": "Duplicate of Shipment Board  ::  public"
                                                        },
                                                        "columnValuesToChange": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Specs Confirmed"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Quotes Provided"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                },
                                                                {
                                                                    "columnId": {
                                                                        "mode": "chose",
                                                                        "label": "Label Booked"
                                                                    },
                                                                    "columnValue": {
                                                                        "nested": {
                                                                            "label": {
                                                                                "mode": "chose",
                                                                                "label": "Awaiting Review"
                                                                            },
                                                                            "selectType": {
                                                                                "mode": "chose",
                                                                                "label": "Label"
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "monday"
                                                            },
                                                            "label": "Dad's Printing"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:monday",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "boardId",
                                                        "type": "select",
                                                        "label": "Board ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "create_labels_if_missing",
                                                        "type": "boolean",
                                                        "label": "Create Labels if Missing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "itemId",
                                                        "type": "select",
                                                        "label": "Item ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "columnValuesToChange",
                                                        "spec": [
                                                            {
                                                                "name": "columnId",
                                                                "type": "select",
                                                                "label": "Column ID",
                                                                "dynamic": true,
                                                                "options": {
                                                                    "store": []
                                                                },
                                                                "required": true,
                                                                "validate": false
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Column Values to Change",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "disabled": true,
                                    "flow": [
                                        {
                                            "id": 13,
                                            "module": "datastore:AddRecord",
                                            "version": 1,
                                            "parameters": {
                                                "datastore": 60653
                                            },
                                            "mapper": {
                                                "key": "{{1.pulseId}}",
                                                "data": {
                                                    "Order ID": "{{2.mappable_column_values.text82}}",
                                                    "Spreadsheet ID": "{{4.id}}"
                                                },
                                                "overwrite": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "overwrite": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "datastore": {
                                                            "label": "Shipping Estimates"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "datastore",
                                                        "type": "datastore",
                                                        "label": "Data store",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "key",
                                                        "type": "text",
                                                        "label": "Key"
                                                    },
                                                    {
                                                        "name": "overwrite",
                                                        "type": "boolean",
                                                        "label": "Overwrite an existing record",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "data",
                                                        "spec": [
                                                            {
                                                                "name": "Order ID",
                                                                "type": "text",
                                                                "label": null
                                                            },
                                                            {
                                                                "name": "Spreadsheet ID",
                                                                "type": "text",
                                                                "label": null
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 37,
                                                    "module": "google-email:ActionSendEmail",
                                                    "version": 2,
                                                    "parameters": {
                                                        "account": 1872160
                                                    },
                                                    "mapper": {
                                                        "cc": [],
                                                        "to": [
                                                            "janreydohinog@gmail.com"
                                                        ],
                                                        "bcc": [],
                                                        "from": "",
                                                        "html": "Automation has encountered an error.\n<br/>\n<br/>\n<b>Automation Name: </b>\n{{var.scenario.name}}\n<br/>\n<b>Error Type: </b>\n{{13.error.type}}\n<br/>\n<b>Error Message: </b>\n{{13.error.message}}\n<br/>\n<b>Details: </b>\n<br/>\n{{13.error.detail}}\n<br/>\n<br/>\n<b>Execution URL: </b>{{var.scenario.executionUrl}}<br/>",
                                                        "subject": "[Error] {{var.scenario.name}}",
                                                        "attachments": []
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3000,
                                                            "y": 900
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "cc": {
                                                                    "mode": "chose"
                                                                },
                                                                "to": {
                                                                    "mode": "chose",
                                                                    "items": [
                                                                        null
                                                                    ]
                                                                },
                                                                "bcc": {
                                                                    "mode": "chose"
                                                                },
                                                                "attachments": {
                                                                    "mode": "chose"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "account": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "google-restricted"
                                                                    },
                                                                    "label": "Admin@ Dec 2023 (admin@dadsprinting.com)"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "account",
                                                                "type": "account:google-restricted",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "from",
                                                                "type": "text",
                                                                "label": "From"
                                                            },
                                                            {
                                                                "name": "to",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address",
                                                                    "required": true
                                                                },
                                                                "type": "array",
                                                                "label": "To",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "subject",
                                                                "type": "text",
                                                                "label": "Subject"
                                                            },
                                                            {
                                                                "name": "html",
                                                                "type": "text",
                                                                "label": "Content"
                                                            },
                                                            {
                                                                "name": "attachments",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "filename",
                                                                        "label": "File name",
                                                                        "required": true,
                                                                        "semantic": "file:name"
                                                                    },
                                                                    {
                                                                        "name": "data",
                                                                        "type": "buffer",
                                                                        "label": "Data",
                                                                        "required": true,
                                                                        "semantic": "file:data"
                                                                    },
                                                                    {
                                                                        "name": "cid",
                                                                        "type": "text",
                                                                        "label": "Content-ID"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Attachments"
                                                            },
                                                            {
                                                                "name": "cc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Copy recipient"
                                                            },
                                                            {
                                                                "name": "bcc",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "email",
                                                                    "label": "Email address"
                                                                },
                                                                "type": "array",
                                                                "label": "Blind copy recipient"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 38,
                                                    "module": "builtin:Break",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "retry": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3300,
                                                            "y": 900
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "retry": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "expect": [
                                                            {
                                                                "name": "retry",
                                                                "type": "boolean",
                                                                "label": "Automatically complete execution",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 27,
                            "module": "http:ActionSendData",
                            "version": 3,
                            "parameters": {
                                "handleErrors": true,
                                "useNewZLibDeCompress": true
                            },
                            "mapper": {
                                "ca": "",
                                "qs": [],
                                "url": "https://api.netparcel.com/shipping_service",
                                "data": "{\n  \"rate\": {\n    \"origin\": {\n      \"country\": \"CA\",\n      \"postal_code\": \"V6B1H6\",\n      \"province\": \"BC\",\n      \"city\": \"Vancouver\",\n      \"address1\": \"319 West Hastings Street\",\n      \"address2\": \"Unit B1 Basement Alley\",\n      \"phone\": \"604-831-1353\"\n    },\n    \"destination\": {\n      \"country\": \"CA\",\n      \"postal_code\": \"{{2.mappable_column_values.text71}}\",\n      \"province\": \"{{2.mappable_column_values.text76}}\",\n      \"city\": \"{{2.mappable_column_values.text60}}\",\n      \"name\": \"{{2.mappable_column_values.text65}}\",\n      \"address1\": \"{{2.mappable_column_values.text4}}\",\n      \"phone\": \"{{2.mappable_column_values.text03}}\"\n    },\n    \"items\": [\n      {\n        \"name\": \"My TEST - My PRODUCT\",\n        \"quantity\": 1,\n        \"weight\": 30,\n        \"weightUnit\": \"lbs\",\n        \"price\": 1200\n      },\n      {\n        \"name\": \"Product 2\",\n        \"quantity\": 2,\n        \"weight\": 20,\n        \"weightUnit\": \"lbs\",\n        \"price\": 1500\n      }\n    ],\n    \"packaging_information\": {\n      \"packaging_type\": \"My Packaging\",\n      \"packages\": [\n        {\n          \"length\": 1,\n          \"width\": 1,\n          \"height\": 1,\n          \"weight\": 5,\n          \"weightUnit\": \"lbs\"\n        }\n      ]\n    },\n    \"ship_date\": \"{{formatDate(now; \"YYYY-MM-DD\")}}\"\n  }\n}",
                                "gzip": true,
                                "method": "post",
                                "headers": [
                                    {
                                        "name": "API_USERNAME",
                                        "value": "Dadsprinting"
                                    },
                                    {
                                        "name": "API_PASSWORD",
                                        "value": "6nuahcfrh5dx"
                                    }
                                ],
                                "timeout": "",
                                "useMtls": false,
                                "authPass": "",
                                "authUser": "",
                                "bodyType": "raw",
                                "contentType": "application/json",
                                "serializeUrl": false,
                                "shareCookies": false,
                                "parseResponse": true,
                                "followRedirect": true,
                                "useQuerystring": false,
                                "followAllRedirects": false,
                                "rejectUnauthorized": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 1800,
                                    "name": "Backup"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "mode": "chose"
                                        },
                                        "method": {
                                            "mode": "chose",
                                            "label": "POST"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bodyType": {
                                            "label": "Raw"
                                        },
                                        "contentType": {
                                            "label": "JSON (application/json)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "handleErrors",
                                        "type": "boolean",
                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                        "required": true
                                    },
                                    {
                                        "name": "useNewZLibDeCompress",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "serializeUrl",
                                        "type": "boolean",
                                        "label": "Serialize URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "get",
                                                "head",
                                                "post",
                                                "put",
                                                "patch",
                                                "delete",
                                                "options"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "validate": {
                                            "enum": [
                                                "raw",
                                                "x_www_form_urlencoded",
                                                "multipart_form_data"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parseResponse",
                                        "type": "boolean",
                                        "label": "Parse response",
                                        "required": true
                                    },
                                    {
                                        "name": "authUser",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "authPass",
                                        "type": "password",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout",
                                        "validate": {
                                            "max": 300,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "shareCookies",
                                        "type": "boolean",
                                        "label": "Share cookies with other HTTP modules",
                                        "required": true
                                    },
                                    {
                                        "name": "ca",
                                        "type": "cert",
                                        "label": "Self-signed certificate"
                                    },
                                    {
                                        "name": "rejectUnauthorized",
                                        "type": "boolean",
                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                        "required": true
                                    },
                                    {
                                        "name": "followRedirect",
                                        "type": "boolean",
                                        "label": "Follow redirect",
                                        "required": true
                                    },
                                    {
                                        "name": "useQuerystring",
                                        "type": "boolean",
                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                        "required": true
                                    },
                                    {
                                        "name": "gzip",
                                        "type": "boolean",
                                        "label": "Request compressed content",
                                        "required": true
                                    },
                                    {
                                        "name": "useMtls",
                                        "type": "boolean",
                                        "label": "Use Mutual TLS",
                                        "required": true
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content type",
                                        "validate": {
                                            "enum": [
                                                "text/plain",
                                                "application/json",
                                                "application/xml",
                                                "text/xml",
                                                "text/html",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Request content"
                                    },
                                    {
                                        "name": "followAllRedirects",
                                        "type": "boolean",
                                        "label": "Follow all redirect",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": true,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}